footer{
    background-color: #101828;
    /* Remove position: fixed */
    /* position: fixed; DELETE THIS */
    /* left: 0; DELETE THIS */
    /* bottom: 0; DELETE THIS */
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    margin-top: auto; /* Pushes footer to bottom */
}

.Copyright{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #bcbcbc;
}

#kalLogo{
    height: 30px;
    width: 25px;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; 
    color: #ef3937;
    text-shadow: black 2px 2px 0px;
    padding-left: 20px;
    font-size: 23px;
    padding-top: 25px;
    font-weight: bold;
}

.logo h4{
    margin: 0;
}

#idk{
    font-size: 15px;
    color: #bcbcbc;
    margin: 0;
    width: 100%; 
    padding-left: 0;
}

/* New wrapper for logo and team */
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.team{
    display: flex;
    flex-direction: column;
    color: #bcbcbc;
    padding-top: 25px;
    padding-right: 20px;
}

.team h4{
    margin: 0 0 10px 0;
    color: #ef3937;
    text-shadow: black 2px 2px 0px;
    font-size: 20px;
    font-weight: bold;
}

.team ul{
    margin: 0;
    padding-left: 20px;
}

.team li{
    margin-bottom: 5px;
    font-size: 15px;
}

footer hr{
    width: 100%;
    border: none;
    border-top: 1px solid #bcbcbc;
    margin: 20px 0 10px 0;
}

#leader{
    font-weight: bold;
}