.card {
    width: 190px;
    height: 254px;
    background-color: #262626;
    padding: 10px;
    border: 1px solid #ff5858;
    position: relative;
    border-radius: 8px;
}

.imge {
    height: 70px;
    background-color: #ff5858;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.Usericon {
    background-color: #414141;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.UserName,
.Id {
    background-color: #414141;
    padding: 4px 8px;
    border-radius: 5px;
    color: #262626;
    font-size: 13px;
    font-weight: bold;
    width: fit-content;
}

.Description {
    margin-top: 10px;
    background-color: #414141;
    width: 100%;
    height: 130px;
    border-radius: 5px;
    padding: 8px;
}

.social-media {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-media:before {
    content: "";
    position: absolute;
    top: 195px;
    left: 10px;
    width: 170px;
    height: 2px;
    background: #414141;
}

.social-media a {
    text-decoration: none;
    color: #ff5858;
}

.social-media a svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
